<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<nav th:fragment="header" class="navbar bg-primary-subtle justify-content-between">
    <div class="navbar-brand fs-1">
        <a href="/weather" th:href="@{/weather}"
           style="font-family: 'Times New Roman',serif; color: black; text-decoration: none">
            <img src="/static/images/sunIcon.png" th:src="@{/images/sunIcon.png}" width="64" height="64"
                 alt="Sun Icon"/>
            Weather
        </a>
    </div>
    <div th:if="${login != null}">
        <span th:text="${login}">Govno</span>
        <form class="form-check-inline my-2 my-lg-0" action="logout" method="POST">
            <button class="btn btn-outline-success" type="submit">Logout</button>
        </form>
    </div>
</nav>

<div th:fragment="footer" class="text-center bg-light p-4">
    © 2025 Copyright:
    <a class="text-reset fw-bold" href="https://github.com/GogAndMagog/">Sosal?</a>
</div>

<div th:fragment="weatherCard" class="card bg-body-secondary" style="width: 15rem;">
    <div class="card-header text-center h1" style="font-family: 'Times New Roman',serif;"
         th:text="${weatherCard.locationName}">Location name
    </div>
    <div class="card-body">
        <img src="/static/images/sunIcon.png"
             th:src="@{'http://openweathermap.org/img/wn/' + ${weatherCard.weatherOpenWeatherDTO.icon} + '@4x.png'}"
             alt=""
             class="card-img-top p-2" style="background-color: white"><br/>
        <pre class="card-text p-2" style="font-family: 'Times New Roman',serif;">
Latitude:    [[${weatherCard.weatherOpenWeatherDTO.latitude}]]
Longitude:   [[${weatherCard.weatherOpenWeatherDTO.longitude}]]
Temperature: [[${weatherCard.weatherOpenWeatherDTO.temperature}]] °C
Wind speed:  [[${weatherCard.weatherOpenWeatherDTO.windSpeed}]] m/s
Humidity:    [[${weatherCard.weatherOpenWeatherDTO.humidity}]]
        </pre>
    </div>
    <div class="card-footer ">
        <form class=" text-end p-2">
            <input type="hidden" id="locationId" name="locationId" th:value="${weatherCard.locationId}"/>
            <button id="deleteButton" class="btn btn-close" type="submit"></button>
        </form>
    </div>
</div>


<div th:fragment="locationCard (name)" class="card bg-body-secondary" style="width: 15rem;">

    <div class="card-header text-center h1" style="font-family: 'Times New Roman',serif;"
         th:text="${locationCard.name}">Location name
    </div>

    <div class="card-body">
        <pre class="card-text p-2" style="font-family: 'Times New Roman',serif;">
Latitude:  [[${locationCard.latitude}]]
Longitude: [[${locationCard.longitude}]]
Country:   [[${locationCard.country}]]
State:     [[${locationCard.state}]]
        </pre>
    </div>
    <div class="card-footer ">
        <form class="text-end p-2" action="locations" method="post">
            <input type="hidden" name="name" th:value="${name}">
            <input type="hidden" name="longitude" th:value="${locationCard.longitude}">
            <input type="hidden" name="latitude" th:value="${locationCard.latitude}">
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </div>
</div>
</body>
</html>