<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<header th:insert="components/components.html :: header">
</header>

<main style="margin-bottom: 100px">

    <div class="container p-5 align-items-center align-content-center" style="display: flex; justify-content: center">
        <form action="locations" method="get">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="locationName" class="col-form-label">
                        Location:
                    </label>
                </div>
                <div class="col-auto">
                    <input id="locationName"
                           name="locationName"
                           type="text"
                           placeholder="Enter location name"
                           class="form-control col-auto"
                           th:value="${filter != null ? filter.locationName : '' }"/>
                </div>
                <div class="col-auto">
                    <button id="searchButton" class="btn btn-primary col-auto">Search</button>
                </div>
            </div>
        </form>
    </div>

    <div class="Cards card-group" id="form-container" style="display: flex; justify-content: center">
        <div class="Card p-2"
             th:if="${weatherCards != null and weatherCards.size() != 0}"
             th:each="weatherCard : ${weatherCards}"
             th:insert="/components/components.html :: weatherCard"></div>
    </div>

    <nav th:if="${totalPages > 0}" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li th:each="pageNumber : ${#numbers.sequence( 0, totalPages - 1, 1)}"
                class="page-item"
                th:classappend="${currentPage == pageNumber} ? 'disabled' : ''">
                <a th:href="@{/weather(page=${pageNumber})}"
                   th:text="${pageNumber}"
                   class="page-link"></a></li>
        </ul>
    </nav>

</main>

<footer class="fixed-bottom" th:insert="/components/components.html :: footer">
</footer>

<script>
    document.getElementById('form-container').addEventListener('submit', function (event) {

        const locations = 'http:locations'; // Укажите URL вашего API

        event.preventDefault(); // Остановить отправку формы

        const form = event.target; // Получаем форму, которая была отправлена
        const formData = new FormData(form); // Сбор данных формы
        const data = new URLSearchParams();
        data.append('locationId', formData.get('locationId'));

        fetch(locations, {
            method: 'DELETE',
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
            },
            body: data
        }).then(() => {
            location.reload();
            return false;
        })
    });
</script>
</body>
</html>